{% extends 'home.html' %}
{% block content %}
<div class="my-order-header">
<h2><strong>Zamówienie na teczki</strong></h2>
<span>Wpisz numery pesel, imiona i nazwiska teczek, które chcesz zamówić oraz ewentualne uwagi, które mogą pomóc w ich odnalezieniu.</span>
</div>
<form class="my-order" id="form-container" method="POST">
    {% csrf_token %}

    {{ my_driverorder_formset.management_form }}
    {% for form in my_driverorder_formset %}
        <div class="input-group mb-2" id="tr-div">
        <span class="input-group-text" id="id_form-{{forloop.counter|add:'-1'}}-lp">{{forloop.counter}}</span>
        {% for field in form %}
            {{field}}
        {% endfor %}
        </div>
        {{ form.errors }}
    {% endfor %}
    <div class='container' id="buttons">
        <button class="btn btn-secondary" id="add-form" type="button">Dodaj pole</button>
        <input class="btn btn-primary right-button" type="submit" value="Zamów">
    </div>
</form>

<script>
    // variables to add new fields to formset
    let birdForm = document.querySelectorAll("#tr-div")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let Buttons = document.querySelector("#buttons") 
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)
</script>

{% endblock content %}