{% extends 'home.html' %}
{% block content %}

<form id="form-container" method="POST">
    {% csrf_token %}

    {{ my_order_formset.management_form }}
    {% for form in my_order_formset %}
        <div class="input-group mb-1" id="tr-div" style="width:50%; margin-left: auto; margin-right: auto; ">
        <span class="input-group-text" id="id_form-{{forloop.counter|add:'-1'}}-lp">{{forloop.counter}}</span>
        {% for field in form %}
            {{field}}
        {% endfor %}
        </div>
        {{ form.errors.tr }}
    {% endfor %}
    <button class="btn btn-secondary" id="add-form" type="button">Dodaj pole</button>
    <input class="btn btn-primary" type="submit" value="Submit" onclick="clicked(event)">
</form>

<script>
    // variables to add new fields to formset
    let birdForm = document.querySelectorAll("#tr-div")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)
</script>

{% endblock content %}
