{% extends 'home.html' %}

{% block content %}

<h1>List zamówień do realizacji</h1>

<div class="btn-group"></div>
    {% for s, n in abr %}
        {% if status == s %}
            <a href="/files/orders_to_do/{{s}}" class="btn btn-primary active" aria-current="page">{{n}}</a>
        {% else %}
            <a href="/files/orders_to_do/{{s}}" class="btn btn-primary">{{n}}</a>
        {% endif %}
    {% endfor %}
</div>


<table class="table table-striped table-secondary table-hover">
    {% for order in orders %}
    <tr>
    <td>{{forloop.counter}}</td>
    <td><a href="/files/order_details/{{order.0.id}}/">Zamówienie nr {{order.0.id}}</a></td>
    <td>Do realizacji: {{order.1}}</td>
    <td>Liczba teczek ogółem: {{ order.0.vehicles.all.count }}</td>
    <td>{{order.0.orderer}}</td>
    </tr>
    {% endfor %}
</table>
    
{% endblock content %}
    