{% extends 'home.html' %}

{% block content %}
<h1>Lista zamówień do realizacji</h1>

<ul>
    {% for order in todo %}

        {% for vehicle in order.vehicles.all %}
            {{vehicle.status}}
        {% endfor %}
             
        <li><h3><a href="/files/order_details/{{order.id}}/">Zamówienie nr {{order.id}}</a></h3></li>
            <ul>
                {% for vehicle in order.vehicles.all %}
                    
                    {% if vehicle.status == 'o' %}
                        <li>
                        <a href="/files/update/{{vehicle.id}}/">{{vehicle.tr}}</a>
                        </li>
                    {% endif %}
    
                {% endfor %}
            </ul>
           
    {% endfor %}
</ul>

{% endblock content %}