{% extends 'home.html' %}

{% block content %}

<h1>test</h1>

<div class="btn-group"></div>
    {% for s, n in abr %}
        {% if request.path|stringformat:'s'|slice:'-2:-1' == s %}
            <a href="/files/orders_to_do/{{s}}" class="btn btn-primary active" aria-current="page">{{n}}</a>
        {% else %}
            <a href="/files/orders_to_do/{{s}}" class="btn btn-primary">{{n}}</a>
        {% endif %}
    {% endfor %}
</div>


<table class="table table-secondary table-hover">
    {% for order in orders %}
    <tr>
    <td>{{forloop.counter}}</td>
    <td><a href="/files/order_details/{{order.id}}/">Zamówienie nr {{order.id}}</a></td>
    <td>Liczba teczek {{order.vehicles.all.count}}</td>
    </tr>
    {% endfor %}
</table>
    
{% endblock content %}
    