{% extends 'home.html' %}

{% block content %}
    <h1>LIST OF {{ user.get_username }} VEHICLES</h1>

    <div class="btn-group"></div>
    <a href="/files/user_list/" class="btn btn-primary">Wszystkie</a>
    {% for s, n in orders.1 %}
        
        <a href="/files/user_list/{{s}}" class="btn btn-primary">{{n}}</a>
        
    {% endfor %}
    </div>

    <div class='container'>
    <table class="table table-xl table-dark table-striped table-hover mx-auto">
        <thead>
            <tr>
                <th>ID</th>
                <th>Numer Rejestracyjny</th>
                <th>Pobrał</th>
                <th>Data Pobrania</th>
                <th>Status</th>
                <th>Przekaż</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders.0 %}  
            <tr>
                <th colspan='6'>Zamówienie: {{ order.id }}</th>
            </tr>
            
            {% for vehicle in order.vehicles.all %}
            <tr>
                {% if vehicle.responsible_person.username == user.get_username and vehicle.status in orders.2 %}
                <td class="mx-auto">{{ vehicle.id }}</td>
                <td class="mx-auto">{{ vehicle.tr }}</td>
                <td>{{ vehicle.responsible_person.username }}</td>
                <td>{{ vehicle.transfer_date }}</td>
                <td>{{ vehicle.status|upper }}</td>
                <td>{% if vehicle.status == 'o' %}
                    <a class='btn btn-primary'href="/files/transfer/{{vehicle.id}}/">Przekaż</a>
                    {% else %}---
                    {% endif %}
                </td>
                {% endif %}{% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock content %}
