{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'pojazd/scripts.js' %}"></script>
    <script src="{% static 'pojazd/jquery-3.7.0.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'kierowca/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'spis_kierowca/style.css' %}">
    {% comment %} {% block refresh %}
      <meta http-equiv="refresh" content="60; URL={% url 'kierowca:list' %}">
    {% endblock refresh %} {% endcomment %}
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href={% url "spis_kierowca:list" %}>Lista</a>
              {% if user.is_authenticated %}
              <a class="nav-link" href={% url "spis_kierowca:add_list" %}>Dodaj Spis</a>
              {% endif %}
            </div>
            <div class="navbar-nav position-absolute top-50 start-50 translate-middle nav-title">
              <b>Spis Zdawczo-Odbiorczy</b>
            </div>
            <div class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
              <button type="button" class="btn btn-outline-warning"><a class="nav-link" href="{% url 'logout' %}"><b>Wyloguj: {{ user.username }}</b></a></button>
              {% else %}
              <button type="button" class="btn btn-outline-warning"><a class="nav-link" href="{% url 'login' %}"><b>Zaloguj</b></a></button>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
      {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
        {% endfor %}
      {% endif %} 

      {% block content %}
        
      {% endblock content %}
        
</body>
</html>