{% extends 'base-vehicle.html' %}

{% block content %}
<div class="my-order-header">
    <h2><strong>Lista teczek pobranych przez użytkownika {{ user.get_username }}</strong></h2>
</div><br>
    <div class="d-grid gap-4 p-2 d-md-flex justify-content-md-center">
    {% if orders.3 %}
    Inni użytkownicy przekazują Ci teczki: 
    <a href={% url 'pojazd:accept_vehicle' %}><button type="button" class="btn btn-primary position-relative" >
        Odbierz
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ orders.3.count }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button></a>
    {% endif %}
    </div>

    <div class="d-grid gap-4 p-2 d-md-flex justify-content-md-center">
        <a href="/pojazd/user_list/" class="btn btn-primary">Wszystkie</a>
        {% for s, n in orders.1 %}
            {% if orders.3 == s %}
                <a href="/pojazd/user_list/{{s}}" class="btn btn-primary active" aria-current="page">{{n}}</a>
            {% else %}
                <a href="/pojazd/user_list/{{s}}" class="btn btn-primary">{{n}}</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class='container'>
    <table class="table table-xl table-dark table-striped table-hover mx-auto text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Numer Rejestracyjny</th>
                <th>Pobrał</th>
                <th>Data Pobrania</th>
                <th>Status</th>
                <th>Przekaż</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders.0 %}  
            <tr>
                <th class="text-start" colspan='6'>Zamówienie: {{ order.id }}</th>
            </tr>
            
            {% for vehicle in order.vehicles.all %}
            <tr>
                {% if vehicle.responsible_person.username == user.get_username and vehicle.status in orders.2 %}
                <td class="mx-auto">{{ vehicle.id }}</td>
                <td class="mx-auto">{{ vehicle.tr }}</td>
                <td>{{ vehicle.responsible_person.username }}</td>
                <td>{{ vehicle.transfer_date|default_if_none:'-' }}</td>
                {% for s, n in orders.1 %}
                    {% if s == vehicle.status %}
                        <td>{{ n }}</td>
                    {% endif %}
                {% endfor %}
                <td>{% if vehicle.status == 'o' %}
                    <a class='btn btn-primary'href="/pojazd/transfer/{{vehicle.id}}/">Przekaż</a>
                    {% else %}
                        ---
                    {% endif %}
                </td>
                {% endif %}{% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock content %}
